<%= render "shared/header" %>
<div class="content">
  <div class="flex__parent__wrap">
    <div class="main">

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form__wrap">
          <div class="form__group">
            <%= f.label :user_image %>
            <br>
            <%= f.file_field :user_image %>
          </div>
           <div id="image-wrap">
            <div>
              <%= image_tag @user.user_image, class:"image" %>
            </div>
           </div>

          <div class="form__group">
            <%= f.label :name %>
            <br>
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="form__group">
            <%= f.label :email %>
            <br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form__group">
            <%= f.label :password %>
            <br>
            <i class="required">(leave blank if you don't want to change it)</i>
            <br>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
              <br>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form__group">
            <%= f.label :password_confirmation %>
            <br>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        
          <div class="form__group">
            <%= f.label :identity %>
            <br>
            <%= f.text_field :identity, autocomplete: "current-password" %>
          </div>

          <div class="form__group">
            <%= f.label :current_password %>
            <br>
            <i class="required">(we need your current password to confirm your changes)</i>
            <br>
            <%= f.password_field :current_password, autocomplete: "current__password" %>
          </div>
        
          <div class="actions">
            <%= f.submit "Update", class: "sign-up-btn" %>
          </div>
        </div><%# end of "form-wrap" %>
      <% end %>

            <div class="back-btn-wrap">
              <%= link_to 'Back', user_path(current_user.id), class:"back-btn" %>
            </div>
    </div><%# end of main %>

    <%= render "shared/nav-bar-tab" %>
    
  </div><%# end of flex-parent-wrap %>
</div>
<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>