<%= render "shared/header" %>

<div class="content">
  <div class="flex__parent__wrap">
    <div class="main">

        <div class="list__header">
          <p class="bold">Member list</p>
        </div>

        <div class="list__content">
          <ul>
            <% @userGroups.each do |userGroup| %>
              <% unless current_user.id == userGroup.user_id %>
                <div class="each__item">
                  <li>
                    <div class="each__item__content">

                      <div class="item__content__left">
                        <% if userGroup.user.user_image.present? %>
                          <%= image_tag userGroup.user.user_image, class: "image__list" %>
                        <% else %>
                          <p>Member<br>Image</p>
                        <% end %>
                      </div>

                      <div class="item__content__right">
                        <p><%= link_to userGroup.user.name, user_path(userGroup.user_id) %></p>
                        <p><%= userGroup.user.identity %></p>
                        <% if userGroup.user.follow_request?(current_user, userGroup.user) %>
                          <p><i class="fas fa-star"></i></p>
                        <% end %>
                      </div>

                    </div>
                  </li>
                </div>
              <% end %>
            <% end %>
          </ul>
        </div>

        <%= render "shared/back_button" %>

    </div><%# end of main %>
    <%= render "calendar_for_groups/nav-bar-tab" %>
  </div><%# end of flex-parent-wrap %>

</div>

<%= render "calendar_for_groups/nav-bar" %>
<%= render "shared/footer" %>