<div class="form-wrap">
  <div class="form-group">
    <div class="form-label"><%= f.label :name %></div>
    <div class="form-content"><%= f.text_area :name, autofocus: true, cols:40, rows:1 %></div>
  </div>

  <div class="form-group">
    <div class="form-label"><%= f.label :outline %></div>
    <div class="form-content"><%= f.text_area :outline, cols:40, rows:10 %></div>
  </div>

  <div class="form-group">
    <div class="form-label"><%= f.label :task %><br></div>
    <div class="form-content"><%= f.text_area :task, cols:40, rows:10 %></div>
  </div>
</div>