<div class="form__wrap">

  <div class="form__group">
    <div class="form__label"><%= f.label :group_image %></div>
    <div class="form__content"><%= f.file_field :group_image %></div>
  </div>
  <% if @group.group_image.attached? %>
    <div id="image-wrap">
      <div>
        <%= image_tag @group.group_image, class:"image" %>
      </div>
    </div>
  <% end %>

  <div class="form__group">
    <div class="form__label"><%= f.label :name %></div>
      <p class="required">(Required)</p>
    <div class="form__content"><%= f.text_area :name, autofocus: true, cols:40, rows:1 %></div>
  </div>

  <div class="form__group">
    <div class="form__label"><%= f.label :outline %></div>
    <div class="form__content"><%= f.text_area :outline, cols:40, rows:10 %></div>
  </div>

  <div class="form__group">
    <div class="form__label"><%= f.label :task %><br></div>
    <div class="form__content"><%= f.text_area :task, cols:40, rows:10 %></div>
  </div>
</div>