<%= render "shared/header" %>

<div class="content">

  <div class="flex-parent-wrap">
    <div class="main">

      <div class="create-group">
        <div class="actions">
          <%= link_to "Create Group", new_group_path, class: "sign-up-btn" %>
        </div>
        <div class="back-btn-wrap">
          <%= link_to 'Back', calendars_path, class:"back-btn" %>
        </div>
      </div>

      <div class="item-list">
      
        <div class="item-list-header">
          <p class="bold">Group list</p>
        </div>

        <div class="item-list-content">
          <ul>
            <% @groups.each do |group| %>
              <div class="each-item">
                <li>
                  <div class="each-item-content">
                    <div class="item-content-left">
                      <p>Group<br>image</p>
                    </div>

                    <div class="item-content-right">
                      <p><%= group.name %></p>
                    </div>
                  </div>

                </li>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

    </div><%# end of main %>
    
      <%= render "shared/nav-bar-tab" %>
  </div>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>