<%= render "shared/header" %>

<div class="content">

  <div class="flex-parent-wrap">
    <div class="main">

      <div class="create-group">
        <div class="actions">
          <%= link_to "Create Group", new_group_path, class: "sign-up-btn" %>
        </div>
        <%= render "shared/back_button" %>
      </div>

      <div class="item-list">
      
        <div class="item-list-header">
          <p class="bold">Group list</p>
        </div>

        <div class="item-list-content">
          <ul>
            <% @groups.each do |group| %>
              <div class="each-item">
                <li>
                  <div class="each-item-content">

                    <div class="item-content-left">
                      <% if group.group_image.present? %>
                        <%= image_tag group.group_image, class:"image" %>
                      <% else %>
                        <p>Group<br>image</p>
                      <% end %>
                    </div>

                    <div class="item-content-right">
                      <p><%= link_to group.name, group_calendar_for_groups_path(group.id) %></p>
                    </div>
                  </div>

                </li>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

    </div><%# end of main %>

    <%= render "shared/nav-bar-tab" %>
  </div>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>