<%= render "shared/header" %>

<div class="content">
  <div class="group">
    <div class="group-index">
    </div>
  </div>
  <h1>Groups#index</h1>
  <p>Find me in app/views/groups/index.html.erb</p>
  
  
  <%= render "shared/nav-bar-tab" %>

  <div class="actions">
    <%= link_to "Create Group", new_group_path, class: "sign-up-btn" %>
  </div>

</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>