<%= render "shared/header" %>

<div class="content">

  <div class="flex-parent-wrap">
    <div class="main">

      <%= form_with model:@group, local:true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <%= render partial: "groups/form", locals: {f: f} %>

        <div class="actions">
          <%= f.submit 'Create new group', class:"sign-up-btn" %>
        </div>
      <% end %>

      <div class="back-btn-wrap">
        <%= link_to 'Back', groups_path, class:"back-btn" %>
      </div>
    </div><%# end of main %>
    
      <%= render "shared/nav-bar-tab" %>
  </div><%# end of flex-parent-wrap %>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>