<%= render "shared/header" %>

<div class="content">

  <div class="flex-parent-wrap">
    <div class="main">
      <%= render "shared/flash_message" %>

      <div class="form-wrap">
        <div class="form-group">
          <div class="schedule-item">
            <div class="schedule-item-header text-left">
              <p class="bold">Group image</p>
            </div>
            <div class="schedule-item-body text-left">
              <% if @group.group_image.present? %>
                <%= image_tag @group.group_image, class:"image" %>
              <% else %>
                <p>No Image</p>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="schedule-item">
            <div class="schedule-item-header text-left">
              <p class="bold">Group name</p>
            </div>
            <div class="schedule-item-body text-left">
              <p><%= link_to @group.name, group_calendar_for_groups_path(@group.id) %></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="schedule-item">
            <div class="schedule-item-header text-left">
              <p class="bold">Outline</p>
            </div>
            <div class="schedule-item-body text-left">
              <p><%= @group.outline %></p>
            </div>
          </div>
        </div>

        <% if @userGroup.present? %>
          <div class="form-group">
            <div class="schedule-item">
              <div class="schedule-item-header text-left">
                <p class="bold">Task</p>
              </div>
              <div class="schedule-item-body text-left">
                <p><%= @group.task %></p>
              </div>
            </div>
          </div>
          <div class="actions">
            <%= link_to 'Edit group', edit_group_path(@group.id), class:"sign-up-btn" %>
          </div>
          <div class="actions">
            <%= link_to 'Delete schedule', group_path(@group.id), method: :delete, data: { confirm: 'Are you sure to delete group?'}, class:"sign-up-btn" %>
          </div>
        <% else %>
          <div class="actions">
            <%= link_to 'Join this group',  group_user_groups_path(@group.id), method: :post, data: { confirm: 'Are you sure to join this group?'}, class:"sign-up-btn" %>
          </div>
        <% end %>
      </div>

      <%= render "shared/back_button" %>
      
    </div><%# End of main %>
    
    <%= render "calendar_for_groups/nav-bar-tab" %>
  </div><%# End of flex-parent-warp %>
</div>

<%= render "calendar_for_groups/nav-bar" %>
<%= render "shared/footer" %>