<%= render "shared/header" %>

<div class="content">

  <div class="flex-parent-wrap">
    <div class="main">

      <%= link_to "Chat", "/"  %>
      
    </div><%# End of main %>
    
      <%= render "shared/nav-bar-tab" %>
  </div><%# End of flex-parent-warp %>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>