<%= render "shared/header" %>

<div class="content">
  <%= render "shared/flash_message" %>

  <div class="flex-parent-wrap">
    <div class="main">

      <div class="form-wrap">
        <div class="form-group">
          <div class="schedule-item">
            <div class="schedule-item-header text-left">
              <p class="bold">User name</p>
            </div>
            <div class="schedule-item-body text-left">
              <p><%= @user.name %></p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="schedule-item">
            <div class="schedule-item-header text-left">
              <p class="bold">Identity</p>
            </div>
            <div class="schedule-item-body text-left">
              <p><%= @user.identity %></p>
            </div>
          </div>
        </div>

        <% if @user.follow_request?(current_user, @user) %>
          <div class="form-group">
            <div class="schedule-item">
              <div class="schedule-item-header text-left">
                <p class="bold"><i class="fas fa-star"></i>You have follow request<i class="fas fa-star"></i></p>
              </div>
              <div class="schedule-item-body text-left">
                <p><%= @user.name %> requests you to be mate</p>
              </div>
            </div>
          </div>
        <% end %>

        <% if current_user.matchers?(@user) %>
          <div class="form-group">
            <div class="schedule-item">
              <div class="schedule-item-header text-left">
                <p class="bold"><%= @user.name %> is your mate</p>
              </div>
            </div>
          </div>
        <% else %>
          <% unless current_user.following?(@user) %>
            <div class="actions">
              <%= link_to 'Request to be mate', user_relationships_path(@user.id), method: :post, class:"sign-up-btn" %>
            </div>
          <% else %>
            <div class="actions">
              <%= link_to 'Cancel to your request', user_relationship_path(@user.id), method: :delete, class:"sign-up-btn" %>
            </div>
          <% end %>
        <% end %>

        <% if current_user.id == @user.id %>
          <div class="actions">
            <%= link_to 'Edit profile', edit_user_registration_path, class:"sign-up-btn" %>
          </div>
        <% end %>
      </div>

      <div class="back-btn-wrap">
        <%= link_to 'Back', calendars_path, class:"back-btn" %>
      </div>
    </div><%# end of main %>

    <%= render "shared/nav-bar-tab" %>
  </div><%# end of flex-parent-wrap %>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>