<header class="top-page-header">
  <div class="header-band">
    <ul class="user-options">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, "/", class:"user-option" %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class:"user-option" %></li>
      <% else %>
        <% if current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
          <li><%= link_to 'Top page', root_path, class:"user-option" %></li>
        <% end %>
        <li><%= link_to 'Log in', new_user_session_path, class:"user-option" %></li>
        <li><%= link_to 'Sign up',  new_user_registration_path, class:"user-option" %></li>
      <% end %>
    </ul>
  </div>
</header>