<nav class="nav-bar">
  
  <ul class="creator-accounts">
    <li class="nav-bar-list">
      <%= link_to groups_path, class: "account-link" do %>
        <i class="fas fa-users icon"></i>
        <p class="icon-text">Groups</p>
      <% end %>
    </li>
    <li class="nav-bar-list">
      <%= link_to users_path, class: "account-link" do %>
        <i class="fas fa-user icon"></i>
        <p class="icon-text">Mates</p>
      <% end %>
    </li>

    <%# Switch the btn new_calendar_path, calendars_path & groups_path %>
    
      <li class="nav-bar-list">
        <% if current_page?(calendars_path) %>
          <%= link_to new_calendar_path, class: "account-link" do %>
            <i class="fas fa-plus-circle icon-center"></i>
          <% end %>
        <% elsif current_page?(groups_path) %>
          <%= link_to new_group_path, class: "account-link" do %>
            <i class="fas fa-plus-circle icon-center"></i>
          <% end %>
        <% else %>
          <%= link_to calendars_path, class: "account-link" do %>
            <i class="fas fa-home icon-center"></i>
          <% end %>
        <% end %>
      </li>

    <%# Switch the btn new_calendar_path, calendars_path & groups_path %>

    <li class="nav-bar-list">
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-comments icon"></i>
        <p class="icon-text">Chats</p>
      <% end %>
    </li>
    <li class="nav-bar-list">
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-bell icon"></i>
        <p class="icon-text">Notification</p>
      <% end %>
    </li>
  </ul>
</nav>