<nav class="nav-bar">
  
  <ul class="creator-accounts">
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-home icon"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-comments icon"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-plus-circle icon"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-user-friends icon"></i>
      <% end %>
    </li>
    <li>
      <%= link_to "/", class: "account-link" do %>
        <i class="fas fa-bell icon"></i>
      <% end %>
    </li>
  </ul>
</nav>