<nav class="nav-bar-tab">
  
  <ul class="creator-accounts">
    <li>
      <%= link_to 'Home', calendars_path, class: "account-link" %>
    </li>
    <li>
      <%= link_to "Notification", 'home/new', class: "account-link" %>
    </li>
    <li>
      <%= link_to "Chats", home_new_path, class: "account-link" %>
    </li>
    <li>
      <%= link_to "Groups", groups_path, class: "account-link" %>
    </li>
    <li>
      <%= link_to "Mates", users_path, class: "account-link" %>
    </li>
  </ul>
</nav>