<nav class="nav__bar__tab">
  
  <ul class="creator__accounts">
    <li>
      <%= link_to 'Home', calendars_path, class: "account__link" %>
    </li>
    <li>
      <%= link_to "Notification", home_new_path, class: "account__link" %>
    </li>
    <li>
      <%= link_to "Chats", api_v1_rooms_path, class: "account__link" %>
    </li>
    <li>
      <%= link_to "Groups", groups_path, class: "account__link" %>
    </li>
    <li>
      <%= link_to "Mates", users_path, class: "account__link" %>
    </li>
  </ul>
</nav>