<%= render "shared/header" %>

<div class="content">
  <div class="flex-parent-wrap">
    <div class="main">
      <h2 class="subtitle">coming soon</h2>
      <p class="subtitle">sorry, this page hasn't created yet.<br>thank you for visiting.</p>

      <%= render "shared/back_button" %>
    </div><%# end of main %>
    
      <%= render "shared/nav-bar-tab" %>
  </div><%# end of flex-parent-wrap %>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>