<%= render "shared/header" %>

<div class="content">
  <div class="flex__parent__wrap">
    <div class="main">

      <div class="create-group">
        <div class="actions">
          <%= link_to "News release", new_news_path, class: "sign-up-btn" %>
        </div>
        <%= render "shared/back_button" %>
      </div>

      <div class="news__wrapper">
        <ul class="news__list">
          <% @news.each do |news| %>
            <li>
              <div class="each__news__content__for__admin">
                <div class="news__release__day"><%= news.created_at.strftime("%Y-%m-%-d %-H:%-M") %></div>
                <div class="news__title"><%= news.title %></div>
                <div class="news__content"><%= news.content %></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      
    </div><%# End of main %>
    
    <%= render "shared/nav-bar-tab" %>
  </div><%# End of flex-parent-warp %>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>