<%= render "shared/header" %>

<div class="content">
  <div class="flex__parent__wrap">
    <div class="main">

      <%= form_with model: @chat, url: group_chats_path(params[:group_id]) do |f| %>
        <%= render partial: "shared/chat_form", locals: {f: f} %>
      <% end %>

      <%= render "shared/back_button" %>

      <div id="chats">
        <% @chats.each do |chat| %>
          <%= render partial: "shared/chats", locals: {chat: chat} %>
        <% end %>
        <%= paginate @chats %>
      </div>
      
    </div><%# End of main %>
    
    <%= render "calendar_for_groups/nav-bar-tab" %>
  </div><%# End of flex-parent-warp %>
</div>

<%= render "calendar_for_groups/nav-bar" %>
<%= render "shared/footer" %>