<%= render "shared/header" %>

<div class="content">
  <div class="flex__parent__wrap">
    <div class="main">


      <%= form_with model: @chat, url: group_chats_path(params[:group_id]) do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <div class="form__wrap">
          <div class="form__group">
            <%= f.label :text %><br>
            <%= f.text_area :text, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit 'Chat', class:"sign-up-btn" %>
          </div>
        </div>
      <% end %>
      <%= render "shared/back_button_to_group_home" %>

      <div id="chats">
        <% @chats.each do |chat| %>
          <%= render partial: "shared/chats", locals: {chat: chat} %>
        <% end %>
        <%= paginate @chats %>
      </div>
      
    </div><%# End of main %>
    
    <%= render "calendar_for_groups/nav-bar-tab" %>
  </div><%# End of flex-parent-warp %>
</div>

<%= render "calendar_for_groups/nav-bar" %>
<%= render "shared/footer" %>