<%= render "shared/header" %>

<div class="content">
  <div class="flex-parent-wrap">
    <div class="main">

      <%= form_with model:@group_calendar, url:group_calendar_for_groups_path, local:true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <%= render partial: "calendars/form", locals: {f: f} %>

        <div class="actions">
          <%= f.submit 'Create new schejule', class:"sign-up-btn" %>
        </div>
      <% end %>

      <%= render "shared/back_button" %>
    </div><%# end of main %>

    <%= render "calendar_for_groups/nav-bar-tab" %>
  </div><%# end of flex-parent-wrap %>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>