<%= render "shared/header" %>

<div class="content">
  <div class="flex__parent__wrap">
    <div class="main">
      <%= render "shared/flash_message" %>

      <div class="form__wrap">
        <div class="form__group">
          <div class="schedule__item">
            <div class="schedule__item__header text__left">
              <p class="bold">Group</p>
            </div>
            <div class="schedule__item__body text__left">
              <p><%= @group.name %></p>
            </div>
          </div>
        </div>
        <%= render partial: "shared/calendar_show", locals: {user: @user, calendar: @group_calendar} %>

        <% if current_user.id == @user.id %>
          <div class="actions">
            <%= link_to 'Edit schedule', edit_group_calendar_for_group_path, class:"sign-up-btn" %>
          </div>

          <div class="actions">
            <%= link_to 'Delete schedule', group_calendar_for_group_path, method: :delete, data: { confirm: 'Are you sure to delete a schedule?'}, class:"sign-up-btn caution" %>
          </div>
        <% end %>
      </div>

      <%= render "shared/back_button_to_group_home" %>

      <%# group_calendar_chat %>
      <%= form_with model: @group_calendar_chat, url: group_calendar_for_group_group_calendar_chats_path(params[:group_id], params[:id]) do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <div class="form__wrap">
          <div class="form__group">
            <%= f.label :text %><br>
            <%= f.text_area :text, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit 'Chat', class:"sign-up-btn" %>
          </div>
        </div>
      <% end %>

      <div id="chats">
        <% @group_calendar_chats.each do |chat| %>
          <%= render partial: "shared/chats", locals: {chat: chat} %>
        <% end %>
        <%= paginate @group_calendar_chats %>
      </div>
      <%# group_calendar_chat %>

    </div><%# end of main %>

    <%= render "calendar_for_groups/nav-bar-tab" %>
  </div><%# end of flex-parent-wrap %>
</div>

<%= render "calendar_for_groups/nav-bar" %>
<%= render "shared/footer" %>