<%= render "shared/header" %>

<div class="content">

  <div class="my-page">
    <div class="calendar">
      <%= month_calendar events:@calendars do |date, calendars| %>
        <%= date.day %>

        <% calendars.each do |calendar| %>
          <div class="schejule">
            <%= calendar.title %>
          </div>
        <% end %>
      <% end %>
    </div>
    
    <%= render "shared/nav-bar-tab" %>
  </div>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>