<%= render "shared/header" %>

<div class="content">
  <%= render "shared/flash_message" %>

  <div class="my-page">
    <div class="calendar">

        <div id="month_calendar"><%# Default calendar%>
          <%= month_calendar events:@calendars do |date, calendars| %>
            <%= date.day %>
            <% calendars.each do |calendar| %>
              <div class="schedule">
                <%= link_to "#{calendar.title}[#{calendar.start_time.strftime('%H:%M')}-#{calendar.end_time.strftime('%H:%M')}]", calendar_path(calendar.id) %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div id="week_calendar">
          <%= week_calendar events:@calendars do |date, calendars| %>
            <%= date.day %>
            <% calendars.each do |calendar| %>
              <div class="schedule">
                <%= link_to "#{calendar.title}[#{calendar.start_time.strftime('%H:%M')}-#{calendar.end_time.strftime('%H:%M')}]", calendar_path(calendar.id) %>
              </div>
            <% end %>
          <% end %>
        </div>

        <div id="custom_calendar">
          <%= calendar events:@calendars do |date, calendars| %>
            <%= date.day %>
            <% calendars.each do |calendar| %>
              <div class="schedule">
                <%= link_to "#{calendar.title}[#{calendar.start_time.strftime('%H:%M')}-#{calendar.end_time.strftime('%H:%M')}]", calendar_path(calendar.id) %>
              </div>
            <% end %>
          <% end %>
        </div>

    </div>

    <div class="switch-calendar-wrap">
      <p>switch calendar</p>
      <div class="calendars">
        <%= radio_button_tag "calendar", "month"%>
        <%= label "calendar", "month" %>
        <%= radio_button_tag "calendar", "week" %>
        <%= label "calendar", "week" %>
        <%= radio_button_tag "calendar", "custom" %>
        <%= label "calendar", "custom" %>
      </div>
    </div>
    
    <%= render "shared/nav-bar-tab" %>
  </div>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>