<%= render "shared/header" %>

<div class="content">
  <%= render "shared/flash_message" %>

  <div class="flex__parent__wrap">
    <div class="main">

      <div class="form__wrap">
        <%= render partial: "shared/calendar_show", locals: {user: @user, calendar: @calendar} %>

        <% if current_user.id == @user.id %>
          <div class="actions">
            <%= link_to 'Edit schedule', edit_calendar_path, class:"sign-up-btn" %>
          </div>

          <div class="actions">
            <%= link_to 'Delete schedule', calendar_path(@calendar.id), method: :delete, data: { confirm: 'Are you sure to delete a schedule?'}, class:"sign-up-btn caution" %>
          </div>
        <% end %>
      </div>

        <%= render "shared/back_button_to_home" %>

    </div><%# end of main %>

    <%= render "shared/nav-bar-tab" %>
  </div><%# end of flex-parent-wrap %>
</div>

<%= render "shared/nav-bar" %>
<%= render "shared/footer" %>