<%= render "shared/header" %>

<div class="content">
  <h2 class="subtitle">Log in</h2>

  <div class="sns_credential">
    <div >you can also log in by </div>
    <%= link_to user_facebook_omniauth_authorize_path, method: :post do %>
      <i class="fab fa-2x fa-facebook-square"></i>
    <% end %>
    <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
      <i class="fab fa-2x fa-google"></i>
    <% end %>
  </div>

  <%= form_with model: @user, url: user_session_path, class: "", local: true do |f| %>
    <% if flash[:alert] %>
      <div class="error-alert">
        <ul>
          <li class="error-message"><%= flash[:alert] %></li>
        </ul>
      </div>
    <% end %>

    <div class="form__wrap">
      <div class="form__group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="form__group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "sign-up-btn" %>
    </div>
  </div><%# End of "form__wrap" %>
  <% end %>


  <div class="back-btn-wrap">
    <%= link_to 'Back to Top page', root_path, class:"back-btn" %>
  </div>
</div>

<%= render "shared/footer" %>